img.logo
{
    display : block;
    margin-left: auto;
    margin-right: auto;
}

div.col-sm-3:hover
{
	filter: drop-shadow(8px 8px 10px gray);
}

h1
{
	font-size: 64px;
}

.list-group-item
{
	background-color:lightblue;
	font-size:20px;
	font-weight: bold;
	
}

.center-pills 
{ 
	display: inline-block; 
}