.avatar
{
  width:100%;
  border-radius:50%;
}
.logo
{
  width:300px;
  border-radius:50%;
}

a h2
{
  text-align:center;
}

div.w3-half-element:hover
{
  filter: drop-shadow(8px 8px 10px white);
}

.spacer
{
  height:60px
}
