.center 
{
    display : block;
    margin-left: auto;
    margin-right: auto;
}
.bigtext 
{
    text-align: center;
    font-family: Arial;
    font-size: 50px;
	margin-left:200px;
	margin-right:200px;
}
.mediumtext 
{
    font-family: Arial;
    font-size: 30px;
	text-align:left;
	display:block;
	margin-left:200px;
	margin-right:200px;
}
.projects
{
	font-family: Arial;
	font-size: 20px;
	text-align:center;
	display:block;
}
.displaygame
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.games
{
	display:block;
	margin-left:200px;
	margin-right:200px;
	margin-top:10px;
	margin-bottom:10px;
	font-family:Arial;
	font-size:20px;
	text-align:center;
}
